#pagetitle {
    margin-bottom: 1rem;
}

#navbar {
    display: flex;
    flex-wrap: nowrap;
}

#navbar>li {
    flex: 1;
}

@media (max-width: 1100px) {
    #navbar {
        flex-wrap: wrap;
    }
}